.container {
  width: 100%;
  height: 100vh;
  /* background-image: url("../../public/assets/pexels-brett-sayles-1493756.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #f8f8f8;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%; */
}
