.nav {
  background-color: rgb(45, 53, 253);
  background: linear-gradient(
    0deg,
    rgba(45, 53, 253, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
  text-align: center;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  span {
    color: #bebfd1;
    padding: 12px 20px;
  }
}
